<!DOCTYPE html>
<html>
    <head>
        <%-include('partials/head')%>
    </head>
    <body>
        <header>
            <%-include('partials/header')%>
        </header>
        <main>
            <p>template ejs</p>
        </main>
        <footer>
            <%-include('partials/footer')%>
        </footer>
        <%-users%>
    </body>
</html>