<title>Admin Page</title>
<style>
    body {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    header {
        margin: auto;
    }
    footer {
        margin: auto;
    }
</style>